In [1]:
import os
import sys
sys.path.append('..')

In [2]:
import pprint
import os
import pandas as pd
import numpy as np
import subprocess
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import joblib

In [3]:
df = pd.read_csv('../data/raw/bank-additional-full.csv', sep=';')

In [4]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [5]:
# Импортируем функции предобработки
from src.preprocessing import *

In [6]:
result = preprocessing(df)

In [7]:
result['X_train']

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,poutcome_nonexistent,poutcome_success,housing_unknown,housing_yes,loan_unknown,loan_yes,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
25611,0.863739,0.522981,0.196584,-0.350127,-0.114858,-0.648967,-0.322269,0.288964,0.398990,True,...,True,False,False,False,False,False,False,False,False,True
26010,-0.289722,-0.203688,0.196584,1.653813,-0.114858,-0.648967,-0.322269,0.288964,0.398990,False,...,False,False,False,False,False,False,False,False,False,True
40194,3.651268,-0.567023,0.196584,-0.350127,-1.133161,1.103451,0.045048,-1.583296,-2.420139,False,...,True,False,False,False,False,False,True,False,False,False
297,-0.385843,-0.203688,0.196584,-0.350127,0.648868,0.721890,0.887717,0.713535,0.332723,False,...,True,False,False,True,False,False,True,False,False,False
36344,1.824956,-0.203688,0.196584,-0.350127,-1.896888,-1.058152,-0.062987,-1.357472,-1.252175,False,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40205,-1.154817,-0.567023,0.196584,-0.350127,-1.133161,1.103451,0.045048,-1.579839,-2.420139,False,...,True,False,False,True,False,False,False,False,True,False
27316,1.152104,-0.567023,0.196584,1.653813,-0.114858,-0.648967,-0.322269,0.231932,0.398990,False,...,False,False,False,True,False,False,False,False,False,False
14392,1.344347,0.522981,0.196584,-0.350127,0.839800,0.590675,-0.473517,0.774024,0.844915,False,...,True,False,False,False,False,True,True,False,False,False
7494,-1.058695,-0.567023,0.196584,-0.350127,0.648868,0.721890,0.887717,0.717568,0.332723,False,...,True,False,False,False,False,False,False,False,False,False
10747,-0.481965,0.159647,0.196584,-0.350127,0.839800,1.535081,-0.279055,0.773448,0.844915,False,...,True,False,False,False,False,True,False,False,True,False

In [8]:
result['X_train'].columns

Index(['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_basic.6y',
       'education_basic.9y', 'education_high.school',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_unknown', 'contact_telephone',
       'month_aug', 'month_dec', 'month_jul', 'month_jun', 'month_mar',
       'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_nonexistent', 'poutcome_success', 'housing_unknown',
       'housing_yes', 'loan_unknown', 'loan_yes', 'day_of_week_mon',
       'day_of_week_thu', 'day_of_week_tue', 'day_of_week_wed'],
      dtype='object')

# Сохранение данных

In [9]:
result['X_train'].to_csv('D:\\Projects\\Bank_UCI_pet_project\\data\\processed\\X_train.csv', index=False)
result['y_train'].to_csv('D:\\Projects\\Bank_UCI_pet_project\\data\\processed\\y_train.csv', index=False)
result['X_test'].to_csv('D:\\Projects\\Bank_UCI_pet_project\\data\\processed\\X_test.csv', index=False)
result['y_test'].to_csv('D:\\Projects\\Bank_UCI_pet_project\\data\\processed\\y_test.csv', index=False)
joblib.dump(result['scaler'], 'D:\\Projects\\Bank_UCI_pet_project\\models/scaler.pkl')

['D:\\Projects\\Bank_UCI_pet_project\\models/scaler.pkl']